@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.izquierda{
    background-color: #1E213A;
    width: 459px;
    float: left; 
    font-family: Raleway;
}
.clouds{
    position: absolute;
    opacity:0.2;
    margin: 0;
    left: -10%;
}
.img-main {
    margin-left: 20%;
    margin-top: 115px;
    margin-bottom: 15px;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-size: 9rem;
    margin-left: 33%;
    color:rgb(255, 255, 255);
    margin-right: 5px; 
}
.temperatura-main{
    display: flex;
    align-items: center;
    margin-bottom: -60px;
}
.unidad{
    font-size: 45px; /* Tamaño de fuente para la unidad */
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);
    margin-top: 135px;
    opacity: 0.3;
}
.clima{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    opacity: 0.3;
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 60px;
}
p{
    color: rgb(255, 255, 255);
    opacity: 0.3;
    font-size: 20px;
}
.actual{
    display: flex;
    align-items: center;
}
.today{
    margin-left: 30%;
}
.point{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom:22px;
}
h2{
    color: rgb(255, 255, 255);
    opacity: 0.3;
    margin-left: 40%;
}
button{
background-color:#6E707A;
color: #ffffff;
border: 0px solid;
}
.btn-search{
padding: 10px 13px;
margin-top: 30px;
margin-left: 10%;
}
.btn-location{
    margin-left: 29%;
    margin-top: 30px;
    border-radius: 21px;
    padding: 6px;
}