body{
  margin: 0;
  padding: 0; /* Elimina el relleno predeterminado del body */
  overflow: hidden; /* Evita barras de desplazamiento horizontales y verticales */
/*   background-color:#100E1D;

 */}
.columnas{
  display: flex;
  flex-direction: row;
  height: 100vh;
}